.login-screen-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: nowrap;
  /* background: linear-gradient(to top, #140888, #593be9) !important; */
}
.login-screen-page .row {
  width: 100%;
  max-width: 1000px;
  border-radius: 25px;
}
.login-form {
  background: #fdfdff;
  border-radius: 25px !important;
}
.email {
  margin-top: 100px;
  background: hsl(0deg 0% 100%);
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: hsl(0deg 0% 30%);
  margin-top: -3em;
  input {
    outline: none;
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    &::placeholder {
      color: #0000005d;
      font-size: 0.9em;
      letter-spacing: 1px;
    }
  }
  ion-icon {
    color: hsl(0deg 0% 30%);
    margin-bottom: -0.2em;
  }
}
.password {
  background: hsl(0deg 0% 100%);
  box-shadow: 0 0 2em hsl(231deg 62% 94%);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: hsl(0deg 0% 30%);
  input {
    outline: none;
    border: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;

    &::placeholder {
      color: hsl(0deg 0% 0%);
      font-size: 0.9em;
      letter-spacing: 1px;
    }
    &:on-focus {
      background: #000;
    }
  }
  ion-icon {
    color: #0000005d;
    margin-bottom: -0.2em;
  }
  .show-hide {
    margin-right: -5em;
  }
}

/* ------mobile login page designs -----*/
@media (max-width: 768px) {
  .login-screen-page {
    max-width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
  }
}
